version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: task_postgres
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: taskpass
    ports:
      - "5433:5432"
